.topWrapper {
  width: 150px;
  margin: 0 auto;
}

.thumbnail {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.showThumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid;
}

.buttonSet {
  margin: 15px 0 0 0;
  text-align: center;
}

.error {
  font-size: 15px;
  font-weight: 100;
  color: #cc1237;
}